
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/Estilo.css" />
    <title>Index</title>
</head>
<body>
  
    
    
    
      <div class="principal">

          <div class="logo">
              <center>
    	  <img src="/Photos/JEFE.png" width="160" height="100" />
    	</center>

          </div>
          <div class="contenido">
              <center>
    	  <img src="/Photos/adv.jpg" width="200" height="150" />
          <img src="/Photos/oops.jpg" width="200" height="150" />
          <img src="/Photos/nf.jpg" width="200" height="150" />
    	</center>
              <br />
          <center>
       <label class="datos">NO SE ENCONTRO EMPLEADO</label>
       <br /><center><a href="~/Home/Index"> <input type="submit" value="Volver a Buscar" /></a></label></center>
          </center>
              </div>

          <div class="creditos">
              

          </div>

    </div>
    


</body>
</html>